
.idea/discord.xml
.idea/GMFSS_union.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
train_log/flownet.pkl
train_log/fusionnet.pkl
train_log/metric.pkl
train_log/rife.pkl
/videos/
model/__pycache__/FusionNet.cpython-310.pyc
model/__pycache__/gmfss.cpython-310.pyc
model/__pycache__/IFNet_HDv3.cpython-310.pyc
model/__pycache__/MetricNet.cpython-310.pyc
model/__pycache__/softsplat.cpython-310.pyc
model/__pycache__/warplayer.cpython-310.pyc
model/gmflow/__pycache__/__init__.cpython-310.pyc
model/gmflow/__pycache__/backbone.cpython-310.pyc
model/gmflow/__pycache__/geometry.cpython-310.pyc
model/gmflow/__pycache__/gmflow.cpython-310.pyc
model/gmflow/__pycache__/matching.cpython-310.pyc
model/gmflow/__pycache__/position.cpython-310.pyc
model/gmflow/__pycache__/transformer.cpython-310.pyc
model/gmflow/__pycache__/trident_conv.cpython-310.pyc
model/gmflow/__pycache__/utils.cpython-310.pyc
.idea/misc.xml
